<table class = "table table-striped",  style = "width: 50%">
    <thead class = " thead thead-dark">
        <tr>
            <th>Username</th>
            <th>userType</th>
        </tr>
    </thead>
    <tbody>
            <% @profiles.each do |profile| %>
                <tr class = "tr">
                    <!-- have to use the safe navigation operator to check the user presence when profile was created -->
                    <td><%= profile.user&.username || 'No User' %></td>
                    <td><%=profile.usertype %></td>
                </tr>
            <% end %>
    </tbody>
</table>

