<p><strong>Product ID:</strong> <%= @product.id %></p>
<p><strong>Product Name:</strong> <%= @product.productName %></p>
<p><strong>Product Description:</strong> <%= @product.productDescription %></p>
<%= render partial: 'record_actions'%>